<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	<link rel="stylesheet" href="style.css">

	<title>Dashboard</title>
</head>
<body>

	<style>

	</style>


	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand">
			
			<span class="text">Dashboard</span>
		</a>
		<ul class="side-menu top">
			<li class="active">
				<a href="#">
					<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAASNJREFUSEvtlo0NgjAQhR+b6CY6iTqJOok6iW6io8gzlJy0pXcHpInxEgIk137t/by2QSVrKnExBbwCwOfhWbwXfAJw7IDn9s1/k3nAGwD3AcUMt4JTUK7hBeBgCbsFnIOGzZvgWjCL6KlIIuHbLgKj7howoZc2jNyxxlRwDZiFpIXKsK/HVlkCe6Aq+Bh4CjTAr121R5vPgZnTvSahCp9kj6fAUpUU86pcIvgQXOpVFSXj9AWX4CWhkbpJMHPK3C5plFUWXHQsEk7BoO3Et3cxFJObGNyfYku3E89qSqi6neg4Rx//BpjFIfMW6iElOLPuOKVEOdH5g/vq9rRTtVD36iOaM6d65mORc1LBqN9ByQIndYe2+H7mKd1AvFJZHFcN/AaCpkUfH8xCgQAAAABJRU5ErkJggg=="/>
					<span class="text"></span>
				</a>
			</li>
			<li>
				<a href="profile.html">
					<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAgxJREFUSEvFloFNAzEMRdNJgEmATWASYBLoJMAksAn0ifunX/fnLj0JNVJVKef429/fiXftQmt3Idy2Bfi6tXbXWuP/ewqc/49zkhgFBuShtfa04FzgLxZQ13wE+HkFsDongP1hk3ObgMnydaJVDqDz80Dz25QVNiyov51YkS0B3Pey72WMwy8LF8DHAQo5RzkoC6sL3gN+t0ypWaVNjgEiKBdW1QPgN5XzBAy9clxBE/34TIy4NigNjM2rAjvFOKNGvn5WVO019SDJGuCZmQrs2eLEKfQMYIIsWN5miSFp5SjrCowRkZ5Qc1Ct6p5qpoATS/GcA9MSGLGgRRmJXQWVxOZM1WRghO+smUU3cgNUqOuwAic2FFRiw3UzJ9QDTmpPNQao7tfWc+CZLQdwByljMldmSdyxXydDdUPM2GtcFS0gbLiZ+PeFqMgmvVBewggcKen0LcD89CJVPfixyKRT7Q2f2gJnAuRB8AWwHo8aa1R8FZFH53T3rsoKUh8FL9/iBeJ0Syz1pWK/Uus1d3AX45Fg19qGKDXqkF26PNivL5JEpoBOziXgpReoPhpL9dS34WdRGXB9asLoXaMV2GvKt25vL81cgFZwHGmYg04FRq9ehdHnZABQpGvD3sh0mVq9p4XZdg1YhiMBaLrUINi5e/62R4E9AF0k0oLa618G+sXot3w8N+MtGPHML602mh+PBzzCAAAAAElFTkSuQmCC"/>
					<span class="text"></span>
				</a>
			</li>
			<li>
				<a href="add_product.html">
					<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAbFJREFUSEvNlk0yBEEQhb+xJxyBpRNY+rkINoQbsMKKGwg2uAi2TmDJEQR7zBOVEzkd2dVVE93RMmJ+ors6X76XL3NmwkgxGQmXfwG8Buhl8TykGp7xOXDWAFsH3ocooAtYrHeGBvZSbzv2Xayl1FZS5qC0yDZzqYin1PN7IJdQ51RolTo5V99NWewnBjnWvQOLhZIqLqZvkjSK3oEF8pbklrNlMn1G7o8KyhXbuUA8iPqsftcCq117qbLZhJRsLmNt5lEL9LJQUplRajw0FpCe+UnXdF9e+YsSYM8wMlmux5FixcBdJssB22TMsS1lrHOWXN+brNuAJb/aFE5FidR6UAZR9QozmbXL+i1Wfq9nW1QK7EerdEP5UZyZqsZcdtYz6PrhkMymUDjPNYw962hhtF0LMWqBS5eHFdG6vWqBldAvjxzzptnmzi4CfAisAtfAV4C8DBwDH8Btlf4ZGpfASbqv+d0Nzj66fy1XwGmUr5axT6odvBQk/XaruK24ol3tc0vmm3RBMh4FwLqvcwrdD+WuZaxkG8AK8JJpySbwCbz21eOa+c2eXYRxL+CjAf8CPXReH7xkI+MAAAAASUVORK5CYII="/>
					<span class="text"></span>
				</a>
			</li>

			<li>
				<a href="#">
					<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAXpJREFUSEvNlt1xAjEMhEUnoZNQSaASQiWQSqAT6CS5b+bk8flkIfEzF73cw9lerVZaeyULxWohXMkCf4jI1kj2JiKX4R/fUGSBjx1gwADehFBF0ozPA8Bn5/C3Al9FhHJb8RJgdNyP5TuMKJS5x1YTQePdqDX7Wf8z/PxuM7U0hhHM6sN6LCOSajJUpIQF7OkYAQrJ0AJTGoDfEXR8Yd0CR9iyGd35IgHJfgX1XyujGrjV1mJ9GpvH+kcD0VBeFNYtY29zZFzCcx7pamXAmMDYi16PTPTlgJ5lWkaBPve82JKLPUVbS+OayaPAnPHblCQMHC6XUXMcD4erI2Qgz94+XnMxgsU6s+M02dww85LWpaVPWuDoRaAGwoE0lF4IXsdPxvHfWCYZR2wz6+Uzx8sYSBasXj/zgJ6B0H0Yv44Ch0T114eAPiZMx8s89mgiD9w0il6ZMsD39I9cIiWPVwJ7V+aMeBZYL37rDTZ70HndmAV+prMnexcD/gOIsVcfa/rPRwAAAABJRU5ErkJggg=="/>
				     <span class="text"></span>
				</a>
			</li>
		
	</section>
	<!-- SIDEBAR -->
	 




	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu' ></i>
			
			<form action="#">
			
			</form>
			<input type="checkbox" id="switch-mode" hidden>
			 <!--<label for="switch-mode" class="switch-mode"></label>-->
			
			
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Farmers-Dashboard</h1>
					<ul class="breadcrumb">
						<li>
							<a href="#">Dashboard</a>
						</li>
						<li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a class="active" href="#">Home</a>
						</li>
					</ul>
				</div>
			
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->
	

	<script src="script.js"></script>

	<script>
	

	</script>
</body>
</html>